
.editBtn{
    height: 100%;
    max-height: 40px;
    transition: 0.4s;
    color: white;
    background-color: blue;
}
.editBtn:hover{
    opacity: 0.5;
}

.deleteBtn{
    height: 100%;
    max-height: 40px;
    transition: 0.4s;
    color: white;
    background-color: red;
}

.deleteBtn:hover{
    opacity: 0.4;
}