.login{
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submitBtn{
    border: none;
    padding: 0.25rem;
    border-radius: 5px;
    background-color: rgb(106, 106, 211);
    color: white;
    transition: 0.4s;
}
.submitBtn:hover{

}

.signupBtn{
    border: none;
    padding: 0.25rem;
    margin-left: 0.2rem;
    border-radius: 5px;
    background-color: rgb(109, 201, 109);
    color: white;
    transition: 0.4s;
}
.signupBtn:hover{
    
}