.container{
    width: 100%;
    min-height: 100vh;
    height:auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskList{
    width: 400px;
    max-width: 100%;
    min-height: 100px;
    max-height: 400px;
    overflow-y: scroll;
    height: 100%;
    background-color: rgba(219, 147, 147, 0.445);
    text-align: center;
    margin-top: 0.25rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
}
